<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_62e813f1d085a36354edb5bf3de395d4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_62e813f1d085a36354edb5bf3de395d4" ></div>
        
</body>
<script>
    
    
            var map_62e813f1d085a36354edb5bf3de395d4 = L.map(
                "map_62e813f1d085a36354edb5bf3de395d4",
                {
                    center: [26.723957499999997, 75.87006149999999],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5de610d309ae2ef693931d9e16fcf89a = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_5de610d309ae2ef693931d9e16fcf89a.addTo(map_62e813f1d085a36354edb5bf3de395d4);
        
    
            var marker_7c2867244aa5da99973ec614e382111b = L.marker(
                [26.723957499999997, 75.87006149999999],
                {}
            ).addTo(map_62e813f1d085a36354edb5bf3de395d4);
        
    
        var popup_b77daeeeac3a9dc78a5eb0e0243c2d73 = L.popup({"maxWidth": "100%"});

        
            
                var html_c6ff8b821caada672b8b4bc9f9a24376 = $(`<div id="html_c6ff8b821caada672b8b4bc9f9a24376" style="width: 100.0%; height: 100.0%;">Location</div>`)[0];
                popup_b77daeeeac3a9dc78a5eb0e0243c2d73.setContent(html_c6ff8b821caada672b8b4bc9f9a24376);
            
        

        marker_7c2867244aa5da99973ec614e382111b.bindPopup(popup_b77daeeeac3a9dc78a5eb0e0243c2d73)
        ;

        
    
    
            var marker_a2c4cae521a6bfd0e3d0fc723a6355e5 = L.marker(
                [26.7796, 75.8771],
                {}
            ).addTo(map_62e813f1d085a36354edb5bf3de395d4);
        
    
        var popup_46769a4ae05e6ab69b2e2e61cfb57e95 = L.popup({"maxWidth": "100%"});

        
            
                var html_e741c53ce34f9d22f22893cd940101e3 = $(`<div id="html_e741c53ce34f9d22f22893cd940101e3" style="width: 100.0%; height: 100.0%;">Fixed Location1</div>`)[0];
                popup_46769a4ae05e6ab69b2e2e61cfb57e95.setContent(html_e741c53ce34f9d22f22893cd940101e3);
            
        

        marker_a2c4cae521a6bfd0e3d0fc723a6355e5.bindPopup(popup_46769a4ae05e6ab69b2e2e61cfb57e95)
        ;

        
    
    
            var poly_line_7fafbebd0d365100b351d098822cc07e = L.polyline(
                [[26.723957499999997, 75.87006149999999], [26.7796, 75.8771]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_62e813f1d085a36354edb5bf3de395d4);
        
</script>
</html>